.background{
    background-image: linear-gradient(#110036,#2f0049,#680272,#a10896);
    opacity: 1;

    
   
}
.logo { 
    position: fixed;
    width: 50%;
    height: 60%;
    left: 25%;
    top: 100px;
    padding: 10px;
}

.logo-busi { 
    position: relative;
    width: 20%;
    height: 10%;
    left: 40%;
    animation-delay: 3s;
    animation: fade_in 2s ;

    
    
}

.hidden{ 
    
    overflow-y: scroll;
    overflow-x: hidden;
    
    
}
.intro{
    opacity: 0;
    pointer-events: none;
    animation: fade_out 2s;
}

.ref{
    position: relative;
    font-size: 16px;
    left: 2%;
    color: slateblue;
}
.tema{
    position: relative;
    left: 2%;
    font-size: 16px;
}
@keyframes fade_out {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fade_in { 
    from{
        opacity: 0;
        
    }
    to{
        animation-delay: 2s;
        opacity: 1;
    }
}

@keyframes zoomin { 
    from { 
        transform: scale(5);
    }
    to{ 
        transform: scale(1);
    }
}
.deteil { 
    
    animation: fade_in 2s;

}

.start{ 
    animation: fade_in 2s;
    opacity: 1;
    z-index: 99;
    

}

.bt-zoom{
    animation: zoomin 2s ;
    
    opacity: 1;

}

.bt-zoom1{
    animation: zoomin 4s;
    animation-delay: 1s;

}
.bt-zoom2{
    animation: zoomin 4s ;
    animation-delay: 1.6s;


}
.bt-zoom3{
    animation: zoomin 4s ;
    animation-delay: 2s;

}
.main{
    max-width: 1920px;
    margin-inline: 0 auto 0 auto;
}
.wrapper{
    position: relative;
    margin-left: 11% ;
    max-width: 80% ;
    min-width: 10%;
    max-height: 100%;
    min-height: 50%;
    border: 6px solid rgb(145, 2, 121);
    border-radius: 1.25rem;
    background-color: #fff;
    transition: .5s;
    z-index: 98;
    
}
.wrapper-in{
    position: relative;
    max-width: 80%;
    min-width: 10%;
    max-height: 100%;
    min-height: 50%;
    margin-left: 8% ;
    border: 6px solid rgb(145, 2, 121);
    border-radius: 1.25rem;
    background-color: #fff;
    transition: .5s;
    display: block;
    font-size: 26px;
    letter-spacing: 2px;
    z-index: 99;
    
    
}
@media screen and (max-width:1322px){
    .img-BCG{
        width: 100%;
    }
    .wrapper{
        width: 100%;
        
    }
    .wrapper-in{
        width: 100%;
       
    }
    .img-info{
        width: 100%;
    }
}

.img-info{
    position: relative;
    min-width: 10%;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    z-index: 99;
   

}

.img-info h1{
    padding: 20px 30px 20px;
    font-family: 'Chonburi', cursive;
    font-size: calc(60% + 0.8 vmin);
    color: black;
    line-height: 2;
}

.img-info h2{
    padding: 20px 30px 20px;
    font-family: 'Mitr', sans-serif;
    font-size: 30px;
    color: rgb(162, 0, 0);
    line-height: 2;
}
.img-info p {
    padding: 0px 30px 20px;
    font-family: 'Chonburi', cursive;
    font-size: calc(60% + 0.8vmin);
    color:black;
    line-height: 1.5;
    
    
}
.img-BCG{
    padding: 50px 30px 20px;
    width: 80%;
    height: 100%;
    margin: left;
    display: block;
    object-fit: cover;   
}
.img-BCG2{
    padding: 180px 30px 20px;
    width: 80%;
    height: 100%;
    margin: left;
    display: block;
    object-fit: cover;
    opacity: 0;
    
}

.fade-in { 
    opacity: 1;
    animation: sidetop 1.2s ;
    animation-delay: 0.1s;
    
}
@keyframes sidetop { 
    from{
        transform: translateY(100px);
    }
    to{
        transform: translateY(0px );

    }
    
    
    
}
.img-unknown{
    width: 62.5rem;
    height: 31.25rem;
    display: block;
    margin: 0 auto 0 auto

}

.op0{
    opacity: 0;
}



.circle { 
    position: absolute;
    left: 0px;
    bottom: 500px ;
    animation: left_right 5s ;
}

@keyframes left_right{
    0%{
        transform: translateX(-50px);
        animation-delay: 3s;
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        animation-delay: 2s;
        transform: translateX(60px);
      
    }
} 




a{
    text-decoration: none;
}

.button{
    position: relative;
    width: 100px;
    background-color: plum;
    padding: 50px ;
    left: 50px;
    top: 100px;
    color: #FFFF;
    font-size: medium;
    letter-spacing: 2px;
    line-height: 80%;
    border: 2px;
    border-color: black;
    border-radius:30px ;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.text{
    text-indent: 30px;
    
}


.button-1{
    position: relative;
    width: 100px;
    background-color: plum;
    padding: 50px ;
    left: 5%;
    color: #FFFF;
    font-size: medium;
    letter-spacing: 2px;
    line-height: 80%;
    border: 2px;
    border-color: black;
    border-radius:30px ;
    padding: 20px;
    font-weight: bolder;
    align-items: center;
    text-align: center;
}
.button-1-test {
    position: relative;
    width: 100px;
    background-color: plum;
    padding: 50px ;
    left: 700px;
    top: 200px;
    color: #FFFF;
    font-size: large;
    letter-spacing: 2px;
    line-height: 80%;
    border: 2px;
    border-color: black;
    border-radius:30px ;
    font-weight: bolder;
    text-align: center;
    z-index: 100;
   
}
.button-1:hover{ 
    transform: scale(2);

}
.button-busi{
    position: fixed;
    width: 6.25rem;
    top: 34.688rem;
    background-color: plum;
    padding: 50px ;
    left: 83%;
    color: #FFFF;
    font-size: medium;
    letter-spacing: 2px;
    line-height: 80%;
    border-radius:30px ;
    padding: 20px;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    z-index: 999999;
}
.button-com{
    position: fixed;
    width: 6.25rem;
    top: 40.625rem;
    background-color: plum;
    padding: 50px ;
    left: 83%;
    color: #FFFF;
    font-size: medium;
    letter-spacing: 2px;
    line-height: 80%;
    border-radius:30px ;
    padding: 20px;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    z-index: 999999;
}
.button-cre{
    position: fixed;
    width: 6.25rem;
    top: 46.875rem;
    background-color: plum;
    padding: 50px ;
    left: 83%;
    color: #FFFF;
    font-size: medium;
    letter-spacing: 2px;
    line-height: 80%;
    border-radius:30px ;
    padding: 20px;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    z-index: 999999;
}
.button-busi:hover{
    background-color: darkviolet;
}
.button-com:hover{
    background-color: darkviolet;
}
.button-cre:hover{
    background-color: darkviolet;
}


.load { 
    position: fixed;
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 50px;
    margin-top: 38%;
    margin-left: 40%;
    padding: 10px;
    

}
.L {
    width: 50px;
    height: 50px;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    margin: 2px;
    font-weight: bolder;
    background-color: rgb(228, 123, 228);
    color: black;
    animation: loading 3s alternate infinite;
}
@keyframes loading { 
    0%{ 
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}
.L:nth-child(1){
    animation-delay: .1s;
}.L:nth-child(2){
    animation-delay: .3s;
}.L:nth-child(3){
    animation-delay: .5s;
}.L:nth-child(4){
    animation-delay: .7s;
}.L:nth-child(5){
    animation-delay: .9s;
}.L:nth-child(6){
    animation-delay: 1.1s;
}.L:nth-child(7){
    animation-delay: 1.3s;
}
.use { 
    position: absolute;
    color: cornflowerblue;
    margin: 5%;
    text-align: center;
    margin-top: 40px;
    font-size: calc(70% + 1 vmin);
    z-index: 6;
    animation: zoomin 3s;
    
}
.header1{
    position: relative;
    opacity: 0;
    margin: 15px;
    margin-top: 0px;
    padding: 30px;
   
    top: 200px;
}
.headertrue{
    opacity: 1;
    animation: sideleft 1s ;
    
}
@keyframes sideleft { 
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0px);
    }
}
@keyframes spin { 
    0%{ 
        transform: rotate(0);

    }
    50%{ 
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
   
}


.triangle { 
    position: relative;
    width: 10%;
    height: 15%;
    top: 400px ;
    left:  -300px;
    transform: rotate(20deg);
    animation: moveup 4s ;
    animation-iteration-count: infinite;
    z-index: 100;
}

@keyframes moveup { 
    0%{
        transform: translateY(0px);
        transform: translateX(20px);
        
        
    }
    50%{
        transform: translateY(-30px);
        
        
       
    }
    100%{
        transform: translateY(0px);
        transform: translateX(20px );
    
    }
}
@keyframes leftbutton{
    0%{
        transform: translateX(0px);
        animation-delay: 0.5s;
    }
    40%{
        transform: translateX(100px);
    }
    60%{
        transform: translateX(200px);
        animation-delay: 0.5s;
    }
   
    100%{
        transform: translateX(0px);

    }
}
@keyframes rightbutton { 
    0%{
        transform: translateX(0px);
        animation-delay: 0.5s;
    }
    40%{
        transform: translateX(-100px);
    }
    60%{
        transform: translateX(-200px);
        animation-delay: 0.5s;
    }
   
    100%{
        transform: translateX(0px);

    }
}
@keyframes upbutton { 
    0%{
        transform: translateY(200px);
        animation-delay: 1.6s;
    }
    100%{
        transform: translateY(0px);
    }
}

.button-left{
    animation: leftbutton 4.5s ;
    animation-delay: 1.5s;

}
.button-right { 
    animation: rightbutton 4.5s;
    animation-delay: 1.5s;
}
.button-up{
    animation: upbutton 5s;
    animation-delay: 2s;
}
.circuit{
    position: relative;
    width: 30%;
    height: 20%;
    right: 0px ;
    top: 1050px;
    right: 900px;
    z-index: 1;
}

@media screen and (max-width : 2000px ){
    .button.busi{
        position: fixed;
        width: 10%;
        top: 100px;
        left: 20%;
        font-size: 70%;
    }
}

@media screen and (max-width: 1440px)
{
    .logo{
        
        position: fixed;
        width: 50%;
        height: 50%;
        top:10%;
        left: 20%;
        padding: 2%;
     


    }

    .load{
        position: fixed;
        width: 70%;
        height: 5%;
        top: 10%;
        left: -10%;
        padding: 5%;
    }

    .button-busi{
        position: fixed;
        width: 10%;
        top: 5%;
        left: 80%;
        font-size: 70%;
    }
    .button-com{
        position: fixed;
        width: 10%;
        top: 15%;
        left: 80%;
        font-size: 70%;
    }
    .button-cre{
        position: fixed;
        width: 10%;
        top: 25%;
        left: 80%;
        font-size: 70%;
    }
    





}

@media screen and (max-width: 1085px)
{
    .logo{
        
        position: fixed;
        width: 50%;
        height: 50%;
        top:10%;
        left: 20%;
        padding: 2%;
     


    }

    .load{
        position: fixed;
        width: 70%;
        height: 5%;
        top: 30%;
        left: -15%;
        padding: 5%;
    }
    .button-busi{
        left: 80%;
    }
    .button-com{
        left: 80%;
        top: 15%;
    }
    .button-cre{
        top: 0%;
        left: 80%;
    }

}




@media screen and (max-width:768px)
{
    .logo{
        
        position: fixed;
        width: 60%;
        height: 50%;
        top: 20%;
        left: 20%;
        padding: 10px;
        

    }

    .load{
        position: fixed;
        width: 70%;
        height: 50%;
        top: 20%;
        left: -15%;
        padding: 10px;
    }
  

    .button-busi{
        position: fixed;
        width: 10%;
        top: 5%;
        left: 78%;
        font-size: 14px;
        text-indent: -5px;
    }
    .button-com{
        position: fixed;
        width: 10%;
        top: 11.5%;
        left: 78%;
        font-size: 12px;
        text-indent: -15px;
    }
    .button-cre{
        position: fixed;
        width: 10%;
        top: 18%;
        left: 78%;
        font-size: 14px;
        text-indent: -7px;
        

    }
    .img-info h1{
        font-size: 22px;
        line-height: 0.9;
    }
}

@media screen and (max-width:409px)
{
    .logo{
        
        position: fixed;
        width: 60%;
        height: 50%;
        top: 20%;
        left: 20%;
        padding: 10px;
        

    }

    .load{
        position: fixed;
        width: 70%;
        height: 50%;
        top: 35%;
        left: -25%;
        padding: 10px;
    }

    .button-busi{
        position: fixed;
        width: 9%;
        top: 2%;
        left: 75%;
        font-size: 12px;
        line-height: 20%;
        text-indent: -12px;
    
    }
    .button-com{
        position: fixed;
        width: 9%;
        top: 8%;
        left: 75%;
        font-size: 9px;
        line-height: 20%;
        text-indent: -14px;
    }
    .button-cre{
        position: fixed;
        width: 9%;
        top: 14%;
        left: 75%;
        font-size: 12px;
        line-height: 20%;
        text-indent: -10px;
    }
    .img-info h1{
        font-size: 18px;
        line-height: 1;
    }
    .img-info p{
        text-indent: 5px;
        font-size: 14px;
    }
}
